*{
    padding: 0;

}

header{
background-color: green;
padding: 10px 20px;
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center ;
color: white;
}

header h3 {
    margin: 0;
    flex-grow: 1;
    text-align: right;
}


.luna img {
    padding: 10px;
    border-radius: 50%;
    width: 50px;
}